        body, html, div {
            padding: 0;
            margin: 0;
        }
        .header, .header-response {
             margin-top: 20px;
             margin-bottom: 0;
             font-size: 1.1em;
             padding: 5px 10px 5px;
        }
        .header-response {            
        }
        pre,.code {            
			margin: 0;
            font-family: Consolas, "Courier New", monospace;
            font-size: 10pt;
            color: #222 !important;
            padding: 5px 12px 15px;            
        }    
		
		.code>div {
			margin: 0 0 1px 0;
			padding: 0;
		}
		.first-line {            
			font-size: 1.07em;
            font-weight: bold;
			padding: 4px 0px 5px 0;
			margin-bottom: 3px;
			border-bottom: 1px solid lightgrey;
        }
		.wrapline {
		   text-indent: -31px;
		   padding-left: 31px !important;
		}
        .formattingRequestBody, .formattingResponseBody {            
            font-size: 8pt;
        }
        .formattingRequestBody a, .formattingRequestBody a:visited,
        .formattingResponseBody a, .formattingResponseBody a:visited
        {
            float: right;            
			padding: 0 8px;
            background: #eee;
            border-radius: 3px;
            border: 1px solid silver;
			margin-right: 5px;
            text-decoration: none;                   
            color: steelblue;            
        }
            .formattingRequestBody a.active, 
            .formattingResponseBody a.active{
                background: white;
                color: steelblue;
                color: #42739c;                
            }
			.formattingRequestBody a:hover, 
            .formattingResponseBody a:hover {
                background: lightsteelblue;                                
            }
        .codedisplay {
            padding: 15px;
            opacity: 1;
            min-height: 300px;
            max-width: 100%;
            overflow-x: scroll;
        }
       .ace_editor, .ace_editor * {
            font-family: "Menlo", Consolas,  "Courier New", monospace !important;
            font-size: 10pt !important;            
            font-weight: normal !important;
            letter-spacing: 0 !important;
            background: transparent;           
        }
        .ace_content {
            padding-top: 5px !important;
            padding-left: 0px;                        
        }    
    