        body, html, div {
            padding: 0;
            margin: 0;
        }
        .text-success {
            color: green;
        }
        .text
        .header, .header-response {
             margin-top: 20px; 
             margin-bottom: 0;            
             font-size: 1.1em;
             padding: 5px 10px 5px;
             border-bottom: 0.5px solid #bbb;
        }
        .header-response {            
        }
        pre,.code {            
			margin: 0;
            font-family: Consolas, "Courier New", monospace;
            font-size: 10pt;            
            padding: 15px 12px 5px;            
        }    
		
		.code>div {
			margin: 0 0 1px 0;
			padding: 0;
		}
		
		.wrapline {
		   text-indent: -31px;
		   padding-left: 31px !important;
		}
        .formattingRequestBody, .formattingResponseBody {            
            font-size: 8pt;
        }
        .formattingRequestBody a, .formattingRequestBody a:visited,
        .formattingResponseBody a, .formattingResponseBody a:visited
        {
            float: right;            
			padding: 0 8px;
            background: rgb(198, 216, 240);
            border-radius: 3px;
            border: 1px solid silver;
			margin-right: 5px;
            text-decoration: none;                   
            color: #333;            
        }
            .formattingRequestBody a.active, 
            .formattingResponseBody a.active{
                background: #ddd;
                color: steelblue;
                color: #42739c;                
            }
			.formattingRequestBody a:hover, 
            .formattingResponseBody a:hover {
                background: lightsteelblue;                                
            }

        .first-line {            
            font-size: 1.20em;
            font-weight: 600;
            padding: 4px 0 0 0;						        
            margin: 8px 0 0 10px;
            font-family: Consolas;    
            font-weight: 600;    
        }
        #HttpVerb {
            color: darkred;
            font-size: 1.12em;
            font-weight:bold;
        }
        #RequestHeaders, #ResponseHeaders {
            border: none;
            margin: 5px 0 0
        }                
        .codedisplay {
            padding: 15px;
            opacity: 1;
            min-height: 300px;
            max-width: 100%;
            overflow-x: scroll;
        }
       .ace_editor {
            font-family:  Consolas, monospace;
            font-weight: 500;
            font-size: 13.5px;                      
            border: none;    
            padding-bottom: 8px; 
            line-height: 1.45;       
        }
        .ace_content {
            margin-top: 8px;            
                              
        }     

        .ace-vslight, .ace-vs {
            color: #050505;
            background-color: #FCFCFC;
            background: linear-gradient(to bottom, #fcfcfc 0%, #eee 100%);
        }
            