/* BROWSER RESET (based on Eric Meyer's Reset) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure, footer, header, 
hgroup, menu, nav, section, summary, time, mark, audio, video {

	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;		
	line-height: inherit;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
:focus {
	outline: 0;
}
html, body {
   height: 100%;
}           
body {
    background: white;
    color: black;
    line-height: 1.35;
    font-size: 11pt;    
    padding: 0 10px;
    margin: 0;
}
ol, ul {
	list-style: disc;
	margin: 20px;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	/* text-align: inherit; */
	padding: 4px;
	}
blockquote, q {
    quotes: none;
    margin: 15px;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';	
}

input,select,textarea
{
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
    	-moz-box-sizing: border-box;    
	box-sizing: border-box;	
}
p
{
	margin: 10px 0;
}
/* END BROWSER RESET */

html,body {
  font-family: Arial, 'Segoe UI',  Verdana;
  font-size: 11pt;
  margin: 0;
  padding: 0;
  color: #555;
  line-height: 1.4em;    
} 
label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
.error-display{    
   padding: 7px;   
   background: khaki; 
   background: linear-gradient(to bottom, Cornsilk 0%, Khaki 100%); /* W3C */
   border: 1px solid khaki;
    box-shadow: 4px 4px 5px #7c7c7c;
}
.error-header{
   color: darkred;
   font-weight: bold;   
}
.error-message {
    padding-left: 18px;
    color: #4b5151;
    font-weight: bold;
}
pre, .code {
    border: 1px solid silver;    
    font-family: Consolas,monospace;
    font-weight: normal;
    font-size: 14px;
    padding: 7px;
    margin: 5px 8px;
    overflow-x: auto;
    overflow-y: hidden;     
    line-height: 1.3em;
	  white-space: pre;
}
.code{
   display: block;  
   white-space: normal;
}
.codewrapper {
    /* marker interface*/      
}
.code-collapse {
    font-size: 0.7em;    
    padding-right: 8px;        
    color: #eee;
    cursor: pointer;

}
.timetaken
{
    float: right;
    padding-top: 3px;
  color: steelblue;    
  font-family: Arial;
    font-size: 8pt;
    font-weight: normal;
    color: white;
}
.timetaken a, .timetaken a:visited {
    text-decoration: none;
    color: cornsilk;
}
.timetaken a:hover {
    text-decoration: underline;    
}
.success-response{
   color: #00a000;
   font-weight: bold;
}
.error-response{
   color: red;
   font-weight: bold;   
}
h3 {
  color: steelblue;
  margin-top: 12px;
  margin-bottom: 3px;
  font-size: 1.3em;
}
.header {
    padding: 5px 10px;
    background: steelblue;
    color: white;
    margin-top: 12px;
    margin-bottom: 10px;    
    font-weight: bold;
    font-size: 1.2em;
}
.content {
    padding: 0 10px;
}

h2 {
    color: Teal;
    font-size: 1.3em;
}
h1 {
    color: darkred;
    font-size: 1.5em;
}
hr {    
    border: 0;
    height: 1px;
    color: silver;
    background: silver;
}
.small {
    font-size: 0.8em;
}
.pull-right {
    float: right;
    text-align: right;
    padding-right: 5px;
}
.grey-gradient {
    background: whitesmoke;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, #eeeeee 100%); /* W3C */
}


/* REPORT PAGE */

#ReportDate {
    color: steelblue;                                  
}
#ResultsTable {                 
    font-size: 0.925em;
}
#ResultsTable td {
    padding: 1px;
}
#ResultsTable td:first-child {
    text-align: right;
    padding-right: 15px;
    font-weight: bold;
}
.item {
   padding: 2px;
   border-bottom: 1px dotted silver;
   margin-bottom: 5px;
}
.item-detail {
   margin: 5px 20px;                
   line-height: 1.2em;
}
.item-detail tr {
   font-size: 0.9em;
}
.item-detail td {
   padding: 1px;
}
.url {
   font-weight: bold;
   font-size: 0.9em;
}
.success {
   color: green;
}
.failed {
   color: #ff0000
}
.error {
    color: firebrick;
}
.warning {
   color: goldenrod;
}
.secondary {
    color: #aaa;
}
a {
   text-decoration: none;
   text-decoration-color: transparent;
}
.highlight-container {
    clear: both;
    margin: 20px 0 35px;

    display: flex; 
    justify-content: flex-start;
    align-items: center;    
    flex-wrap: wrap;    
    
}

.highlight-numbers {
   font-size: 2.5em; 
   font-weight: bold;
   border-left: solid 9px green;                
   padding-top: 12px;   
   padding-bottom: 12px;   
   padding-left: 15px;
   padding-right: 50px;
   margin-bottom: 5px;   

   display: flex;                   
   align-items: center;                                
}
.highlight-numbers:last-child {
    padding-right: 10px;
}
.highlight-numbers>div:nth-child(2) {
   font-size: 0.6em;     
   padding-left: 8px;
   margin-top: 3px; 
   font-weight: 600;  
}
.stat-container{
    display:flex;
    flex-wrap: wrap;
}
.highlight-numbers.small {
    font-size: 1.5em;    
    padding-top: 3px;   
    padding-bottom: 6px;   
    padding-left: 10px;    
    border-left: solid 5px slategray;
    margin-bottom: 8px
}
.highlight-numbers.stats {
    border-left: solid 5px goldenrod;
}    