<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StressTesterConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="UrlCaptureConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <!-- Enable Fiddler - make sure you run Fiddler -->
    <defaultProxy>
      <proxy autoDetect="False" 
             bypassonlocal="True" 
             usesystemdefault="False" />
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="200" />
    </connectionManagement>
  </system.net>
  <StressTesterConfiguration>
    <add key="FileName" value="c:\temp\2_helloworldjson.txt" />
    <add key="ReplaceCookieValue" value="" />
    <add key="MaxResponseSize" value="5000" />
    <add key="LastThreads" value="1" />
    <add key="LastSecondsToRun" value="20" />
    <add key="DelayTimeMs" value="1000" />
    <add key="RandomizeRequests" value="True" />
    <add key="RequestTimeoutMs" value="20000" />
  </StressTesterConfiguration>
  <UrlCaptureConfiguration>
    <add key="IgnoreResources" value="True" />
    <add key="UrlFilterExclusions" value="analytics.com|google-syndication.com|google.com|live.com|microsoft.com|/chrome-sync/|client=chrome-omni|doubleclick.net|" />
    <add key="ExtensionFilterExclusions" value=".css|.js|.png|.jpg|.gif|.ico" />
    <add key="ProcessId" value="0" />
  </UrlCaptureConfiguration>
</configuration>