<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.net>    
    <defaultProxy>
      <!--  Defaults to bypass proxies for optimum performance -->
      <proxy usesystemdefault="False" autoDetect="False" bypassonlocal="True"/>

      <!--  If you want to see Fiddler Traces -->      
      <!-- <proxy usesystemdefault="False" bypassonlocal="False" autoDetect="False" 
                  proxyaddress="http://127.0.0.1:8888" /> -->
    </defaultProxy>
    
    <!--<requestCaching disableAllCaching="true" />-->
    <connectionManagement>
      <!-- reset to default settings -->
      <clear/> 
      <!-- 
           Configure max number of connections used 
           Reduce this value to a realistic number that
           you use in your tests closer to max thread count
      -->
      
      <add address="*" maxconnection="200"/>        
    </connectionManagement>
    
    <settings>
      <!-- 
           If you don't have Expect 100 requests in your tests setting 
           this value to false can improve high load throughput 
      -->      
      <servicePointManager expect100Continue="true"/>      
    </settings>
  </system.net>
</configuration>
